@media (min-width: 576px) {
  .lead1 {
    top: 5%;
    width: 100%;
  }
  .lead1 h1 {
    font-size: 2rem;
  }

  .lead2 {
    top: 4%;
    margin-left: 1rem;
    width: 100%;
  }

  .lead2 h1 {
    font-size: 2rem;
  }
}
